/*================================================================================*/
/* MenuLabel
/*================================================================================*/

.menuLabel,
.menuTitledPaneLabel
{
	-fx-text-fill: white;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}

.titled-pane:expanded .menuTitledPaneLabel
{
	-fx-text-fill: #3f4c4e;
}

.toggle-button:selected .menuLabel,
.button:focused .menuLabel
{	
	-fx-text-fill: #3f4c4e;
}

/*================================================================================*/
/* ToggleButton
/*================================================================================*/

.toggle-button
{
	-fx-pref-height: 60.0px;
	
	-fx-background-color: #3f4c4e;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
}

#menuToggleButton
{
	-fx-padding: 20.0 20.0 20.0 20.0; /* top left bottom right */
}

.toggle-button:selected
{
	-fx-background-color: white;
}

/*================================================================================*/
/* TitledPane
/*================================================================================*/

.titled-pane
{
	-fx-pref-height: 60.0px;
	-fx-padding: 0.0 0.0 0.0 0.0;
	
	-fx-background-color: #3f4c4e;
	
	-fx-text-fill: white;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}

.titled-pane > .title 
{
	-fx-padding: 10.0 0.0 10.0 8.0;
	
	-fx-background-color: #3f4c4e;
}

.titled-pane:collapsed > *.content,
.titled-pane:expanded > *.content 
{
	-fx-padding: -20.0 -20.0 -20.0 -20.0;
	
	-fx-background-color: #3f4c4e;
}

.titled-pane:expanded 
{
	-fx-padding: 0.0 0.0 0.0 0.0;
	
	-fx-background-color: white;
	
	-fx-text-fill: #3f4c4e;
}

.titled-pane:expanded > .title 
{
	-fx-padding: 10.0 0.0 10.0 8.0;
	
	-fx-background-color: white;
}

/*================================================================================*/
/* SubMenuTitledPane
/*================================================================================*/

.subMenuTitledPane > .title > .arrow-button .arrow
{
	-fx-padding: 0.0 0.0 0.0 0.0;
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-background-insets: 0.0 0.0 0.0 0.0, 0.0;
}

#subMenuToggleButton
{
	-fx-padding: 10.0 20.0 10.0 23.0;
}

/*================================================================================*/
/* SubMenuLabel
/*================================================================================*/

.subMenuTitledPane #subMenuLabel
{
	-fx-padding: 0.0 0.0 0.0 20.0;
	
	-fx-text-fill: white;
}

.subMenuTitledPane:expanded #subMenuLabel
{
	-fx-padding: 0.0 0.0 0.0 20.0;
	
	-fx-text-fill: #3f4c4e;
}

/*================================================================================*/
/* SubMenuArrow
/*================================================================================*/

.titled-pane #subMenuArrow
{	
	-fx-image: url("/ecashie/resources/images/arrow_white_20x12.png");
	
	-fx-rotate: -90.0;
}

.titled-pane:expanded #subMenuArrow
{	
	-fx-image: url("/ecashie/resources/images/arrow_grey_20x12.png");
	
	-fx-rotate: 0.0;
}

/*================================================================================*/
/* Button
/*================================================================================*/

.button
{
	-fx-pref-height: 60.0px;
	-fx-padding: 10.0 20.0 10.0 23.0;
	
	-fx-background-color: #3f4c4e;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
}

.button:focused
{	
	-fx-background-color: white;
}