/*================================================================================*/
/* tab
/*================================================================================*/

.tab-pane:top .tab-header-area
{
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-container
{
	-fx-padding: -2.0px 0.0px 0.0px 0.0px;
}

.tab-pane .tab-content-area
{
	-fx-border-color: darkgrey;
	-fx-border-width: 0.0px 1.0px 1.0px 1.0px;
}

.tab
{
	-fx-pref-height: 35.0px;
	-fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    
    -fx-background-insets: 100.0, 0.0, -100.0, 0.0;
	-fx-border-color: darkgrey;
	
	-fx-cursor: hand;
}

.tab:selected
{
	-fx-padding: 0.0px 0.0px 1.0px 0.0px;
	-fx-border-color: darkgrey;
}

.tab .tab-label
{
	-fx-alignment: center;
	-fx-font-size: 14.0px;
}

/*================================================================================*/
/* table-view
/*================================================================================*/

.table-column
{
	-fx-font-size: 14.0px;
	-fx-font-family: 'Open Sans';
}

.table-row-cell:selected .hyperlink
{
   -fx-text-fill: white;
}

.column-header .label
{
	-fx-alignment: center-left;
	-fx-font-size: 14.0px;
}

/*================================================================================*/
/* Text
/*================================================================================*/

#lineSpacing
{
	-fx-line-spacing: 1.0em;
}

/*================================================================================*/
/* tab-pane
/*================================================================================*/

#aboutTabPane
{
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-tab-min-width: 180.0px;
}

#licenseTab
{
	-fx-font-family: 'sans-serif';
	-fx-font-weight: bold;
	-fx-border-width: 1.0px 0.0px 1.0px 1.0px;
}


#licenseTab:selected
{
	-fx-border-width: 1.0px 0.0px 0.0px 1.0px;
}

#contributorTab
{
	-fx-font-family: 'sans-serif';
	-fx-font-weight: bold;
	-fx-border-width: 1.0px 0.0px 1.0px 1.0px;
}

#contributorTab:selected
{
	-fx-border-width: 1.0px 0.0px 0.0px 1.0px;
}

#graphicDesignTab
{
	-fx-font-family: 'sans-serif';
	-fx-font-weight: bold;
	-fx-border-width: 1.0px 0.0px 1.0px 1.0px;
}

#graphicDesignTab:selected
{
	-fx-border-width: 1.0px 0.0px 0.0px 1.0px;
}

#versionNotesTab
{
	-fx-font-family: 'sans-serif';
	-fx-font-weight: bold;
	-fx-border-width: 1.0px 1.0px 1.0px 1.0px;
}

#versionNotesTab:selected
{
	-fx-border-width: 1.0px 1.0px 0.0px 1.0px;
}

/*================================================================================*/
/* versionNotesTabPane
/*================================================================================*/

#versionNotesTabPane
{
  -fx-tab-min-width: 180.0px;
}