/*================================================================================*/
/* MenuBarToggleButton
/*================================================================================*/

.menuBarToggleButton
{
	-fx-pref-width: 70.0px;
	-fx-pref-height: 60.0px;
	-fx-padding: 0.0 0.0 0.0 0.0;
	
	-fx-background-color: #3f4c4e;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
	
	-fx-border-color: white;
	-fx-border-width: 0.0 1.0 0.0 0.0;
	-fx-border-insets: 0.0 0.0 0.0 0.0;
	-fx-border-radius: 0.0 0.0 0.0 0.0;
}

.menuBarToggleButton:selected
{
	-fx-background-color: white;
	
	-fx-border-color: transparent;
}

.menuBarToggleButton .label
{
	-fx-text-fill: white;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}

.menuBarToggleButton:selected .label
{
	-fx-text-fill: #3f4c4e;
}

.menuBarToggleButton > .image-view
{
	-fx-image: url("/ecashie/resources/images/menu_white_32x32.png");
}

.menuBarToggleButton:selected > .image-view
{
	-fx-image: url("/ecashie/resources/images/menu_grey_32x32.png");
}

/*================================================================================*/
/* MenuBarPane
/*================================================================================*/

.menuBarPane
{
	-fx-background-color: lightgrey;
}