.titled-pane > .title:hover
{
	-fx-color: -fx-base;
}

.settingsMenuToggleButton
{	
	-fx-padding: 6.0 8.0 6.0 8.0;
	
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
	
	-fx-border-color: darkgray;
	-fx-border-width: 0.0 1.0 1.0 1.0;
	-fx-border-insets: 0.0 0.0 0.0 0.0;
	-fx-border-radius: 0.0 0.0 0.0 0.0;
}

.settingsMenuToggleButton .label
{
	-fx-text-fill: white;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}

.settingsMenuToggleButton:selected .label
{
	-fx-text-fill: #3f4c4e;
}

.firstMenuToggleButton
{
	-fx-border-color: darkgray;
	-fx-border-width: 1.0 1.0 1.0 1.0;
}

.firstMenuToggleButton:focused
{
	-fx-focus-color: transparent;
	-fx-background-insets: 0.0, 0.0, 0.0, 0.0;
}

#focusedToggleButton
{
	-fx-font-weight: bold;
}