.titled-pane > .title
{
	-fx-pref-height: 36px;
	
	-fx-background-insets: 0, 1, 2;
  	-fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
  	
  	-fx-padding: 8 10 8 10;
}

.titled-pane > .title:hover
{
	-fx-color: -fx-base;
}

.titled-pane > .title > .text
{
	-fx-font-family: 'Open Sans';
	-fx-font-size: 14px;
}

.titled-pane > .title > .arrow-button
{
    -fx-padding: 5.0px 10.0px 5.0px 4.0px;
}

.titled-pane > .title > .arrow-button .arrow
{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	
	-fx-background-insets: -2.0, -2.0, -2.0 -2.0;
}

#activeTitledPane > .title > .arrow-button .arrow
{
	-fx-background-color: #a5a5a5;
}

#inactiveTitledPane > .title > .arrow-button .arrow
{
	-fx-background-color: #a5a5a5;
}